workflows/n8n-workflow-export.json
{
  "name": "Forward Horizon Document Generator",
  "nodes": [
    {
      "parameters": {
        "path": "generate-documents",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "id": "webhook-trigger",
      "name": "Document Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        460,
        300
      ],
      "id": "validate-data",
      "name": "Validate Required Fields"
    },
    {
      "parameters": {
        "jsCode": "// Forward Horizon Document Generator\nconst CONFIG = {\n  organization: \"Forward Horizon Transitional Housing\",\n  phone: \"(310) 488-5280\",\n  email: \"info@theforwardhorizon.com\",\n  address: \"1234 Veterans Way, Los Angeles, CA 90001\"\n};\n\nconst veteran = $json.body;\nconst currentDate = new Date().toLocaleDateString('en-US', {\n  year: 'numeric',\n  month: 'long', \n  day: 'numeric'\n});\n\n// Generate Welcome Letter HTML\nconst welcomeLetter = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Welcome to Forward Horizon</title>\n    <style>\n        body {\n            font-family: 'Arial', sans-serif;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 40px;\n            line-height: 1.6;\n            color: #333;\n        }\n        .header {\n            text-align: center;\n            border-bottom: 3px solid #2c5530;\n            padding-bottom: 20px;\n            margin-bottom: 30px;\n        }\n        .header h1 {\n            color: #2c5530;\n            margin: 0;\n            font-size: 2.2em;\n        }\n        .welcome-content {\n            background: #f8f9fa;\n            padding: 30px;\n            border-radius: 8px;\n            margin: 20px 0;\n        }\n        .details-box {\n            background: #e8f5e8;\n            padding: 20px;\n            border-left: 4px solid #2c5530;\n            margin: 20px 0;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h1>${CONFIG.organization}</h1>\n        <p>Supporting Veterans on Their Journey to Independence</p>\n    </div>\n    \n    <div class=\"welcome-content\">\n        <p><strong>Date:</strong> ${currentDate}</p>\n        <h2>Dear ${veteran.name},</h2>\n        <p>Welcome to Forward Horizon! We are honored to support you on your journey toward stable, independent living.</p>\n    </div>\n    \n    <div class=\"details-box\">\n        <h3>🏠 Your Housing Details</h3>\n        <ul>\n            <li><strong>Move-in Date:</strong> ${veteran.moveInDate || 'To be scheduled'}</li>\n            <li><strong>Room Assignment:</strong> ${veteran.roomNumber || 'Will be assigned'}</li>\n            <li><strong>Case Manager:</strong> ${veteran.caseManager || 'Will be assigned'}</li>\n        </ul>\n    </div>\n    \n    <div class=\"welcome-content\">\n        <h3>📞 Important Contacts</h3>\n        <ul>\n            <li><strong>Main Office:</strong> ${CONFIG.phone}</li>\n            <li><strong>Email:</strong> ${CONFIG.email}</li>\n        </ul>\n    </div>\n</body>\n</html>\n`;\n\n// Generate Housing Agreement\nconst housingAgreement = `\n<!DOCTYPE html>\n<html>\n<head>\n    <title>Forward Horizon Housing Agreement</title>\n    <style>\n        body { font-family: Arial, sans-serif; padding: 40px; }\n        .header { text-align: center; margin-bottom: 30px; }\n        .section { margin: 20px 0; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h2>FORWARD HORIZON HOUSING AGREEMENT</h2>\n        <p>Date: ${currentDate}</p>\n    </div>\n    \n    <div class=\"section\">\n        <h3>Resident Information</h3>\n        <p><strong>Name:</strong> ${veteran.name}</p>\n        <p><strong>Phone:</strong> ${veteran.phone}</p>\n        <p><strong>Email:</strong> ${veteran.email}</p>\n        <p><strong>Move-in Date:</strong> ${veteran.moveInDate || 'TBD'}</p>\n    </div>\n    \n    <div class=\"section\">\n        <h3>Program Terms</h3>\n        <p>This agreement is for transitional housing up to 24 months with supportive services.</p>\n    </div>\n</body>\n</html>\n`;\n\nreturn {\n  veteranName: veteran.name,\n  veteranEmail: veteran.email,\n  welcomeLetter: welcomeLetter,\n  housingAgreement: housingAgreement,\n  generatedDate: currentDate\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        280
      ],
      "id": "generate-documents",
      "name": "Generate Documents"
    },
    {
      "parameters": {
        "name": "={{ $json.veteranName }}_Welcome_Letter",
        "fileContent": "={{ $json.welcomeLetter }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        200
      ],
      "id": "save-welcome-letter",
      "name": "Save Welcome Letter"
    },
    {
      "parameters": {
        "name": "={{ $json.veteranName }}_Housing_Agreement",
        "fileContent": "={{ $json.housingAgreement }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        900,
        360
      ],
      "id": "save-housing-agreement", 
      "name": "Save Housing Agreement"
    },
    {
      "parameters": {
        "fromEmail": "admin@theforwardhorizon.com",
        "toEmail": "={{ $json.veteranEmail }}",
        "subject": "Welcome to Forward Horizon - Your Housing Documents",
        "html": "=<h2>Welcome to Forward Horizon!</h2>\n<p>Dear {{ $json.veteranName }},</p>\n<p>Congratulations! Your application has been approved and we're excited to welcome you to Forward Horizon.</p>\n<p>Please find your welcome documents attached. Review them carefully before your move-in date.</p>\n<h3>Next Steps:</h3>\n<ol>\n<li>Review the welcome letter and housing agreement</li>\n<li>Prepare the items listed in your welcome packet</li>\n<li>Contact us at (310) 488-5280 with any questions</li>\n</ol>\n<p>We look forward to supporting you on your journey to independent living!</p>\n<p>Best regards,<br>The Forward Horizon Team</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1120,
        280
      ],
      "id": "send-email",
      "name": "Send Welcome Email"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Document package generated successfully for {{ $json.veteranName }}\",\n  \"veteranName\": \"{{ $json.veteranName }}\",\n  \"documentsCreated\": [\n    \"Welcome Letter\",\n    \"Housing Agreement\"\n  ],\n  \"emailSent\": \"{{ $json.veteranEmail }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1340,
        280
      ],
      "id": "webhook-response",
      "name": "Send Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: name and email\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        680,
        400
      ],
      "id": "error-response",
      "name": "Send Error Response"
    }
  ],
  "connections": {
    "Document Request": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Generate Documents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Documents": {
      "main": [
        [
          {
            "node": "Save Welcome Letter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save Housing Agreement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Welcome Letter": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Housing Agreement": {
      "main": [
        [
          {
            "node": "Send Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCreatedBy": "Forward Horizon",
    "templateDescription": "Automatically generates welcome letters and housing agreements for approved veterans, saves them to Google Drive, and sends them via email."
  }
}